<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<persistence xmlns="https://jakarta.ee/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="https://jakarta.ee/xml/ns/persistence https://jakarta.ee/xml/ns/persistence/persistence_3_0.xsd"
             version="3.0">

    <persistence-unit name="HOTEL">
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>

        <class>com.base.model.Client</class>
        <class>com.base.model.Room</class>
        <class>com.base.model.Rent</class>
        <class>com.base.model.ClientType</class>

        <properties>
            <property name="jakarta.persistence.jdbc.driver" value="org.postgresql.Driver" /> <!-- DB Driver -->
            <property name="jakarta.persistence.jdbc.url" value="jdbc:postgresql://localhost:5431/nbddb" /> <!-- BD Mane -->
            <property name="jakarta.persistence.jdbc.user" value="nbd" /> <!-- DB User -->
            <property name="jakarta.persistence.jdbc.password" value="nbdpassword" /> <!-- DB Password -->

            <property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQL82Dialect"/> <!-- DB Dialect -->
            <property name="jakarta.persistence.schema-generation.database.action" value="drop-and-create" /> <!-- create / create-drop / update -->

            <property name="hibernate.show_sql" value="true" /> <!-- Show SQL in console -->
            <property name="hibernate.format_sql" value="false" /> <!-- Show SQL formatted -->

<!--            <property name="jakarta.persistence.sql-load-script-source"-->
<!--                      value="META-INF/sql/initial_data.sql" />-->

        </properties>
    </persistence-unit>



</persistence>